.encabezado{
  width: 100%;
  background: purple;
}

.titulo-principal{
  text-align: center;
  margin: 50px;
  font-size: 45px;
  display: inline;
  vertical-align: 40px;
  color: #ffffff;
  font-family: 'VT323', monospace;
  padding: 0 0 0 100px;
}

.imagen-computador{
  width: 7em;
  padding: 0 0 0 350px;
}

.imagen-alura{
  width: 7em;
  padding: 0 0 20px 40px;

}

.cajas{
  display: flex;
  
}

.text-area{
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  margin: 0 50px 0 50px;
}

.informacion{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: purple;
  padding: 5px 0 5px 50px;
}

.botones{
  display: flex;
  margin: 10px 10px 10px 50px;
}

.boton-encriptar{
  font-family: 'VT323', monospace;
  font-size: 25px;
  background: purple;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 0 40px 0 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: 1s all;
}

.boton-encriptar:hover{
  transform: scale(1.2);
}

.boton-desencriptar{
  font-family: 'VT323', monospace;
  font-size: 25px;
  background: #ffffff;
  color: purple;
  border: 1px solid #000000;
  border-radius: 8px;
  padding-right: 20px;
  cursor: pointer;
  transition: 1s all;
}

.boton-desencriptar:hover{
  transform: scale(1.2);
}

.text-mensaje{
  font-family: 'Jura', sans-serif;
  font-size: 30px;
}

/* footer */
footer{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  text-align: center;
  padding: 20px 0 20px 0;
  background: purple;
  color: #ffffff;
}

.imagen-corazon{
  width: 1em;
  transition: 1s all;
}

.imagen-corazon:hover{
  transform: rotate(360deg);
}

.imagen-github{
  padding: 30px 0 20PX 0;
  width:3em;
  transition: 1s all;
}

.imagen-github:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.imagen-discord{
  width: 3em;
  padding: 0 0 20px 40px;
  transition: 1s all;
}

.mensaje{
  font-size: 25px;
  display: none
}

.imagen-discord:hover{
  transform: scale(1.5);
  cursor: pointer;
 
}

.imagen-discord:active + .mensaje{
  display: block;
}